* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2{
    margin-top: 10px    ;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.product p {
    margin: 10px 0 0 0;
    font-size: 1.1em;
    color: #666;
    height: 30px; /* Giới hạn chiều cao của mô tả */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Giới hạn số dòng hiển thị */
    -webkit-box-orient: vertical;
}


form {
    margin-top: 15px;
}

input[type="number"] {
    padding: 5px;
    width: 60px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

/* Responsive Design */
@media (max-width: 768px) {
    .product {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .product {
        width: 100%;
    }
}


